# See: "!How To (Master).txt" -> Copy / clean a project

#- Only these needed ij Controller/:
#    *.sch *.sh *.sym *.uch *.vhd *.wcfg *.xise

**/Thumbs.db
**/_ngo/
**/_xmsgs/
**/iseconfig/
**/isim/
**/xlnx_auto_0_xdb/
**/xst/
**/MZ_Basic_System.cache/
**/MZ_Basic_System.runs/

Controller/*.a*
Controller/*.b*
Controller/*.c*
Controller/*.d*
Controller/*.e*
Controller/*.f*
Controller/*.g*
Controller/*.h*
Controller/*.i*
Controller/*.j*
Controller/*.k*
Controller/*.l*
Controller/*.m*
Controller/*.n*
Controller/*.o*
Controller/*.p*
Controller/*.q*
Controller/*.r*
Controller/*.t*
Controller/*.y*
Controller/*.z*
Controller/*.schlog
Controller/*.schcmd
Controller/*.schbak
Controller/*.spl
Controller/*.stx
Controller/*.syr
Controller/*.unroutes
Controller/*.ut
Controller/*.vf
Controller/*.xml
Controller/*.xpi
Controller/*.xrpt
Controller/*.xst
Controller/*.xdl
Controller/*.xwbt
Controller/*.wdb
Controller/*.xmsgs
Controller/sch2HdlBatchFile