
# IOSTANDARD: everything is defaults to LVCMOS25 or LVDS_25.

## Bank 3 - P2-P23 (VCCO_0 P8,P20)
NET "GO7"			LOC = "P2"  ;	# Din3 to Pi (was SPI0-CS1 from Pi)
NET "GI8"			LOC = "P3"  ; 	# SPI0-CS0 from Pi
NET "GO9"			LOC = "P4"  ;	# SPI0-SO from Pi (swap with P4)
NET "GI25"			LOC = "P5"  ;	# 
NET "GI11"			LOC = "P9"  ; 	# SPI0-CLK from Pi (goes to GCLK) (move to P9 to use GCLK and delete the CLOCK_DEDICATED_ROUTE)
NET "GI10"			LOC = "P10"  ;	# IRQ SPI0-SI to Pi
#NET "TOPOUT<9>"		LOC = "P11"  ;
NET "SFIRE<1>"		LOC = "P11"  ;	# Seiko Fire+ from V05
NET "GI24"			LOC = "P12"  ;	#
NET "POWERSW"		LOC = "P13"  ;	# i/p only
NET "GI23"			LOC = "P15"  ;	#
NET "GI22"			LOC = "P16"  ;	#
#NET "TOPOUT<8>"		LOC = "P17"  ;
NET "SFIRE<0>"		LOC = "P17"  ;	# Seiko Fire- from V05
NET "GI27"			LOC = "P18"  ;	#
#NET "TOPOUT<7>"		LOC = "P22"  ;
NET "SCLK<0>"		LOC = "P22"  ;	# Seiko CLK+ from V05
NET "GO18"			LOC = "P23"  ;	# SPI1-CS0 from Pi. Din6 to Pi
NET "SPICS"			LOC = "P24"  ;	# CS0 during boot
NET "GO17"			LOC = "P25"  ;	# PAR. RegDin5. SPI1-CS1 from Pi. INIT_B during boot. Din5 to Pi
#NET "TOPOUT<6>"		LOC = "P26"  ;	# Busy i/p during boot
NET "SSCK<1>"		LOC = "P26"  ;	# Seiko SCK- from V05. Busy i/p during boot
NET "SPISO"			LOC = "P27"  ;	# MOSI o/p during boot
#NET "TOPIN5"		LOC = "P30"  ;	# KEY#3. i/p only
NET "SPAREn"		LOC = "P30"  ;	# SMC link from V05. i/p only

## Bank 2 - P31-P50 (VCCO_0 P31,P45)
#NET "TP<0>"		LOC = "P32"  ;	# 
NET "CSTHM"			LOC = "P32"  ;	# testing this as CS_THM for 72mm head *************
NET "TP<1>"			LOC = "P33"  ;	# 
NET "GO4"			LOC = "P34"  ;	# PAR.
NET "LED1"			LOC = "P35"  ;
#NET "TOPIN10"		LOC = "P36"  ;	# KEY#4
NET "SCLK<1>"		LOC = "P36"  ;	# Seiko CLK- from V05
#NET "TOPIN4"		LOC = "P38"  ;	# KEY#2. RDWR_B (not used by SPI boot) (i/p only)
NET "MODE72n"		LOC = "P38"  ;	# 72mm mode from V05. RDWR_B (not used by SPI boot) (i/p only)
#NET "TOPIN3"		LOC = "P39"  ;	# M2 during boot (low) (i/p only). SPARE.
NET "M2"			LOC = "P39"  ;	# GND from V05. M2 during boot (low) (i/p only). SPARE.
#NET "TOPIN2"		LOC = "P40"  ;	# KEY#1
NET "SSCK<0>"		LOC = "P40"  ;	# Seiko SCK+ from V05
NET "LDA<8>"		LOC = "P41"  ;
NET "TP<5>"			LOC = "P42"  ;	# M1 during boot (low) NOTE: OneMain04 has CODELOADn here but won't work as pulled down by 100R.
NET "TP<2>"			LOC = "P43"  ;	# M0 during boot (high)
NET "SPISI"			LOC = "P44"  ;	# SPI DIN during boot
NET "LDA<7>"		LOC = "P47"  ;	# VS2 during boot (high)
NET "LDA<6>"		LOC = "P48"  ;	# VS1 during boot (high)
NET "LDA<5>"		LOC = "P49"  ;	# VS0 during boot (high)
NET "SPICK"			LOC = "P50"  ;	# CCLK eeprom during boot.

## Bank 1 - P53-P73 (VCCO_0 P55,P73)
NET "LDA<4>"		LOC = "P53"  ;
NET "LDA<3>"		LOC = "P54"  ;
NET "LDA<2>"		LOC = "P57"  ;
NET "LDA<1>"		LOC = "P58"  ;
NET "CSPOT"			LOC = "P60"  ;
NET "INKLOW"		LOC = "P61"  ;
NET "VHEN"			LOC = "P62"  ;
NET "PUMP"			LOC = "P63"  ;
NET "PON"			LOC = "P65"  ;
NET "DEBUGn"		LOC = "P66"  ;
NET "MODE34n"		LOC = "P67"  ;	# 18/34mm select
NET "TP<3>"			LOC = "P68"  ;
NET "INP<1>"		LOC = "P69"  ;	# PEC (i/p only)
NET "INP<2>"		LOC = "P70"  ;	# SENC0
NET "INP<3>"		LOC = "P71"  ;	# SENC1

## Bank 0 - P78-P99 (VCCO_0 P82,P97)
NET "TP<4>"			LOC = "P78" ;
NET "CODELOADn"		LOC = "P79" ;	# From OneMain05 only. TPIN on OneMain04 so always high.
NET "INP<4>"		LOC = "P83" ;	# SPIN1n
NET "BUZZn"			LOC = "P84" ;
NET "CLKIN"			LOC = "P85" ;
NET "GI21"			LOC = "P86" ;	# SPI1-CLK from Pi (goes to GCLK)
NET "GI20"			LOC = "P88" ;	# SPI1-SO from Pi
NET "GI26"			LOC = "P89" ;
NET "GO16"			LOC = "P90" ;	# RegDin4 (SPI1-CS2 from Pi)
NET "GO19"			LOC = "P91" ;	# RegDin7 SPI1-SI to Pi
NET "GI13"			LOC = "P92" ;
NET "GI12"			LOC = "P94" ;	# PAR.
NET "GO6"			LOC = "P95" ;	# PAR.
NET "GO5"			LOC = "P98" ;	# PAR.
NET "ALARM"			LOC = "P99" ;	# HSWAP must be low at boot



##########################################################

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE

##########################################################
# Timing constraints - defined the fastest clocks to 
# ensure dependent devices conform.
##########################################################

NET "CLKCORE" TNM_NET = "clkcore_net";
TIMESPEC "TS_clkcore_net" = PERIOD "clkcore_net" 48 MHz ;	# actually 50MHz on One18 PCB

NET "CLKFAST" TNM_NET = "clkfast_net";
TIMESPEC "TS_clkfast_net" = PERIOD "clkfast_net" 96 MHz ;

NET "CLK144M" TNM_NET = "clk144m_net";
TIMESPEC "TS_clk144m_net" = PERIOD "clk144m_net" 144 MHz ;





