
# IOSTANDARD: everything defaults to LVCMOS25 or LVDS_25.
# GO means GPIO o/p to Pi
# GI means GPIO i/p from Pi

## Bank 3 - P2-P23 (VCCO_3 P8,P20. 15 I/Os)
NET "TXHD<0>"		LOC = "P2"   ;
NET "TXHD<1>"		LOC = "P3"   ;	# 
NET "RXHD<0>"		LOC = "P4"   ;	# 
NET "TXHD<2>"		LOC = "P5"   ;	# 
NET "TXHD<3>"		LOC = "P9"   ;
NET "RXHD<1>"		LOC = "P10"  ;
NET "RXHD<2>"		LOC = "P11"  ;
NET "TXHD<4>"		LOC = "P12"  ;	#
NET "RXHD<3>"		LOC = "P13"  ;	# i/p only
NET "TXHD<5>"		LOC = "P15"  ;
NET "RXHD<4>"		LOC = "P16"  ;
NET "TXHD<6>"		LOC = "P17"  ;	# 
NET "TXHD<7>"		LOC = "P18"  ;
NET "RXHD<5>"		LOC = "P22"  ;	# 
NET "RXHD<6>"		LOC = "P23"  ;	# 

## Bank 2 - P24-P50 (VCCO_2 P31,P45. 21 I/Os)
NET "SPICS"			LOC = "P24"  ;	# CS0 during boot
NET "SPID1"			LOC = "P25"  ;	# TP(2). INIT_B during boot (high)
NET "LEDRED"		LOC = "P26"  ;	# BUSY during boot (high)
NET "SPISO"			LOC = "P27"  ;	# MOSI o/p during boot
NET "RXHD<7>"		LOC = "P30"  ;	# i/p only
NET "SENC<1>"		LOC = "P32"  ;
NET "SENC<2>"		LOC = "P33"  ;
NET "SENC<3>"		LOC = "P34"  ;
NET "SENC<4>"		LOC = "P35"  ;	# 
NET "SPIN4"			LOC = "P36"  ;	#
NET "PEC<1>"		LOC = "P38"  ;	# i/p only
#NET "P39"			LOC = "P39"  ;	# M2 during boot (low). i/p only. wired to GND
NET "PEC<2>"		LOC = "P40"  ;	# i/p only
NET "SPICSIO"		LOC = "P41"  ;
NET "CODELOAD"		LOC = "P42"  ;	# M1 during boot (low)
NET "BUZZn"			LOC = "P43"  ;	# M0 i/p during boot (high)
NET "SPISI"			LOC = "P44"  ;	# SPI DIN during boot
NET "SPID3"			LOC = "P47"  ;	# TP(1). VS2 i/p during boot (high)
NET "CSRAM"			LOC = "P48"  ;	# TP(0). VS1 i/p during boot (high)
NET "PON"			LOC = "P49"  ;	# VS0 during boot (high)
NET "SPICK"			LOC = "P50"  ;	# CCLK eeprom during boot.


## Bank 1 - P53-P73 (VCCO_1 P55,P73. 15 I/Os)
NET "RS232TXn"		LOC = "P53"  ;
NET "RS232RXn"		LOC = "P54"  ;
NET "POWERSW"		LOC = "P57"  ;	# 
NET "DEBUGn"		LOC = "P58"  ;	# 18/34mm select
NET "KEYLED<1>"		LOC = "P60"  ;	# 
NET "KEYLED<0>"		LOC = "P61"  ;	#
NET "GO4"			LOC = "P62"  ;	# RegDin0 to Pi
NET "GO17"			LOC = "P63"  ;	# RegDin5 to Pi
NET "GO18"			LOC = "P65"  ;	# RegDin6 to Pi
NET "GI27"			LOC = "P66"  ;	# RegDout7 from Pi
NET "GI22"			LOC = "P67"  ;	# RegDout2 from Pi
NET "GI23"			LOC = "P68"  ;	# RegDout3 from Pi
NET "GI10"			LOC = "P69"  ;	# SPI0-SI from Pi
NET "GI24"			LOC = "P70"  ;	# RegDout4 from Pi. i/p only
NET "GO9"			LOC = "P71"  ;	# IRQ to Pi


## Bank 0 - P78-P99 (VCCO_0 P82,P97. 15 I/Os)
NET "GI25"			LOC = "P78"  ;	# RegDout5 from Pi
NET "GI8"			LOC = "P79"  ; 	# SPI0-CS0 from Pi
NET "CLKIN"			LOC = "P83"  ;
NET "GI11"			LOC = "P84"  ; 	# SPI0-CLK from Pi (goes to GCLK)
NET "GO7"			LOC = "P85"  ;	# RegDin3 to Pi
NET "GO5"			LOC = "P86"  ;	# RegDin1 to Pi
NET "GI13"			LOC = "P88"  ;	# RegRdWr from Pi
NET "GI12"			LOC = "P89"  ;	# RegStrobe from Pi. i/p only
NET "GO6"			LOC = "P90"  ;	# RegDin2 to Pi. i/p only
NET "GO19"			LOC = "P91" ;	# RegDin7 to Pi
NET "GO16"			LOC = "P92" ;	# RegDin4 to Pi
NET "GI26"			LOC = "P94" ;	# RegDout6 from Pi
NET "GI20"			LOC = "P95" ;	# RegDout0 from Pi
NET "GI21"			LOC = "P98" ;	# RegDout1 from Pi
NET "SPID0"			LOC = "P99"  ;	# TP(3). HSWAP wired low




##########################################################

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE

##########################################################
# Timing constraints - defined the fastest clocks to 
# ensure dependent devices conform.
##########################################################

NET "CLKCORE" TNM_NET = "clkcore_net";
TIMESPEC "TS_clkcore_net" = PERIOD "clkcore_net" 48 MHz ;

NET "CLKFAST" TNM_NET = "clkfast_net";
TIMESPEC "TS_clkfast_net" = PERIOD "clkfast_net" 96 MHz ;

NET "CLK144M" TNM_NET = "clk144m_net";
TIMESPEC "TS_clk144m_net" = PERIOD "clk144m_net" 144 MHz ;



